!!!
%html
  %body
    %title
      = content_for?(:title) ? yield(:title) : "Send To Act"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta(content="width=device-width, initial-scale=1" name="viewport")/
    :css
      /*Devise flash*/
      .alert-error {
        background-color: #f2dede;
        border-color: #eed3d7;
        color: #b94a48;
        text-align: center;
      }

      .alert-alert {
        background-color: #f2dede;
        border-color: #eed3d7;
        color: #b94a48;
        text-align: center;
      }

      .alert-notice {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #468847;
        text-align: left;
      }
      .body {
        text-align: center;
      }
    .container.body
      - flash.each do |key, value|
        #flash(align="center" class="alert alert-#{key}")
          %a.close(data-dismiss="alert" href="#") ×
          %ul(style="text-align: center")
            %l
              %b
                = value
      = yield
